.online-service-div{
    padding: 5px;
}
.input-container{
    height:100px;
    position: fixed;
    bottom:0;
    width:calc(100% - 10px);
}
.input-container textarea{
    width:calc(100% - 70px);
    height: 100px;
    float: left;
    resize: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.input-container textarea:focus{
    border: 1px solid #8daacc;
    -moz-box-shadow: inset 0 0 5px #8daacc;
    -webkit-box-shadow: inset 0 0 5px #8daacc;
    box-shadow: inset 0 0 5px #8daacc;
}
.input-container #send{
    width: 60px;
    margin: 0 5px;
    height: 100px;
    float: left;
}
.content-container{
    width:calc(100% - 10px);
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #ccc;
    overflow-y: auto;
    position: fixed;
    bottom:120px;
    top:10px;
}
.self, .other{
    width:100%;
    min-height:100px;
}
.self img, .other img{
    float: left;
    width: 30px;
    height: 30px;
}
.self .content-dialog, .other .content-dialog{
    float: left;
    font-size:12px;
    background-color: #ccc;
    color: #000;
    padding:3px 5px;
    border-radius: 3px;
    line-height: 24px;
    margin-left:10px;
    position: relative;
}
.self .content-dialog{
    background-color: #03ff06;
}
.time{
    display: inline-block;
    width:100%;
    height:24px;
    line-height:24px;
    float: left;
}
.left-arrow{
    left: -25px;
    border-right-color: #999;
    border-left-width: 0;
    border-width: 11px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.left-arrow:after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: -10px;
    left: 1px;
    content: " ";
    border-left-width: 0;
    content: "";
    border-width: 7px;
}
.self .left-arrow::after{
    border-right-color: #03ff06;
}
.other .left-arrow::after{
    border-right-color: #ccc;
}
.customer-list-container{
    overflow-y: auto;
    height:100%;
    width:300px;
    float:left;
    padding:5px;
}
.customer-container{
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.customer-list-container .active{
    background-color: #ddd;
}
.customer-container .nickname{
    display: inline-block;
    float: left;
    padding-left: 20px;
}
.customer-container .badge{
    float: right;
    margin-right: 15px;
    margin-top:25px;
}
.online-service-admin-container{
    width:100%;
    height:100%;
    min-height: 800px;
}
.online-service-admin-container .online-service-div{
    width:calc(100% - 300px);
    float:left;
}
.online-service-admin-container .input-container{
    width: calc(100% - 310px);
}